services:
  backend:
    build: ./Server
    container_name: express_server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  frontend:
    build:
      context: ./Client
      args:
        - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL}
      - REACT_APP_FIREBASE_API_KEY=${REACT_APP_FIREBASE_API_KEY}
  env_file: .env # Loads variables into the container environment
    container_name: react_client
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
