services:
  backend:
    build: ./Server
    container_name: express_server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  frontend:
    build:
      context: ./Client
      args:
        # Bake your VM's IP into the React build
        - REACT_APP_SERVER_URL=http://34.47.186.74:5000
    container_name: react_client
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
